<h1>All Contacts</h1>

<table>
  <thead><tr><th>Name</th><th>Action</th></tr>
  <tfoot><tr><td colspan=2><button type="button"><a href="/contacts/new">Add New</a></button>
    </td></tr></tfoot>
  <tbody>
  <% @contacts.each do |contact| %>
  <tr><td><%= contact.name %></td><td><a href="/contacts/<%= contact.id %>">View</a>
                          <a href="/contacts/<%= contact.id %>/edit">Edit</a></td><tr>
  <% end %>
</tbody>
</table>
