<div class="container">
  <div class="row">

    <h1>All Contacts</h1>

    <table class="table table-hover">
      <thead><tr><th>Name</th></tr>
      <tfoot><tr><td colspan=2><button type="button"><a href="/contacts/new">Add New</a></button>
        </td></tr></tfoot>
      <tbody>
      <% @contacts.each do |contact| %>
      <tr><td><a href="contacts/<%= contact.id %>/edit"><%= contact.name %></a></td><tr>
      <% end %>
    </tbody>
    </table>

  </div>
</div>
